body {
  display: flex;
  flex-direction: column;
  /* padding: 0px; */
  margin: 2px;
}
nav {
  display: flex;
  /* flex: 1; */
  /* border: red 5px solid; */
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #1f2937;
  color: white;
}
nav > div {
  /* border: blue 5px solid; */
  margin: 5px;
  margin-right: auto;
}
nav > a {
  margin: 5px;
  /* border: rgb(0, 255, 149) 5px solid; */
}
header {
  display: flex;
  /* margin-top: 10px; */
  flex-direction: row;
  /* border: rgb(46, 255, 74) 5px solid; */
  flex: 1;
  /* padding: 50px; */
  background-color: #1f2937;
  color: white;
}
.right {
  /* display: flex; */
  flex-direction: column;
  /* flex: 1; */
  flex-wrap: wrap;
  /* border: 5px red dotted; */
  /* margin-right: 200px; */
  padding: 30px;
  /* width: 200px; */
  width: 100%;
}
.left {
  padding: 30px;
  /* border: 5px rgb(17, 0, 255) dotted; */
  width: 100%;
}
main {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 5px purple solid;
}
.four-blocks {
  display: flex;
  flex-direction: column;
  border: 5px yellowgreen solid;
}
footer {
}
img {
  border-radius: 15px;
}
a {
  color: white;
  text-decoration: none;
}
button {
  background-color: #3882f6;
  color: white;
  padding: 8px;
  border-radius: 8px;
}
